* {
  padding: 0; 
  margin: 0; 
  box-sizing: border-box; 
  border: 1px solid red; 
}

body {
  width: 100vw; 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

#flex-container {
  width: 32rem; 
  height: 32rem; 
  display: flex; 
  flex-direction: column; 
}

.flexRow {
  width: 100%; 
  height: 2rem;
  display: flex; 
}

.flexRow > div {
  width: 2rem; 
}

